.header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: aqua;
}
.header ul{
    list-style: none;
    text-align: center;
}
.header li{
    display: inline-block;
    margin: 15px;
} 
.header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.header button{
    height: 30px;
    background-color: #005086;
    color: white;
    border-style: none;
    border-radius: 6px;
    
}
.header button:focus{
    outline: none;
}