@media only screen and (min-width: 500px)
{
.header button{
    height: 30px;
    background-color: #005086;
    color: white;
    border-style: none;
    border-radius: 6px;
    
}
.header button:focus{
    outline: none;
}
}