.style-list h2{
    margin-top: 40px;
    text-align: center;
}
.style-list p{
    margin-top: 35px;
    margin-left: 200px;
}
.style-list li{
    list-style: none;
    padding: 4px;
}
@media (max-width:768px){
    .style-list p{
        margin-top: 35px;
        margin-left: 55px;
        text-align: left;
    }
    .style-list li{
        list-style: none;
        padding: 2px;
    }
}